<div class="row">
  <h3>Acerca de Planizator</h3>
  <div class="col-sm-12">
    <h4 class="text-justify well">Planizator es una web hecha solo como proyecto integrado del ciclo de Desarrollo Web para el centro Altair hecha por el alumno José María Aparicio López, no se pretende poner en producción ni los usuarios tienen porque poner información real, las quedadas son todas ficticias.</h4>
  </div>
</div>
