<div class="row">
  <h3>Acerca de Planizator</h3>
  <div class="col-sm-12">
    <div class="alert alert-danger">
      <h4>Error: </h4>
      <p>{{message}}</p>
    </div>
    <a href="/" class="btn btn-info btn-lg btn-block">Volver al inicio</a>
  </div>
</div>
